---

---

<nav>
    <ul>
        <li>Combos</li>
        <li>Porções</li>
        <li>Fritas</li>
        <li>Baurus</li>
        <li>Bebidas</li>
        <li>Bebidas Alcoólicas</li>
        <li>Doses</li>
        <li>Drinks</li>
        <li>Drinks Sem Álcool</li>
    </ul>
    <hr />
</nav>

<style lang="scss">
    $small: 500px;

    nav {
        margin: 0;
        color: var(--text-dark);

        ul {
            overflow: auto;
            white-space: nowrap;
            padding: 10px;
            height: 100%;
            text-align: center;

            li {
                background-color: var(--primary-green);
                border-radius: 5px;
                padding: 10px;
                font-weight: 550;
                transition: ease 0.3s;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                &:hover {
                    background-color: rgba(58, 135, 96, 0.8);
                    cursor: pointer;
                }
            }
        }

        ul li {
            display: inline-block;
            text-align: center;
        }

        hr {
            border: none;
            height: 2px;
            background-color: var(--primary-green);
            width: 90%;
            margin: 0 auto;
            mask-image: linear-gradient(
                to right,
                transparent,
                black 20%,
                black 80%,
                transparent
            );
            -webkit-mask-image: linear-gradient(
                to right,
                transparent,
                black 20%,
                black 80%,
                transparent
            );
        }
    }
</style>
