---
import logo from "../images/logo.png";
---

<section>
    <img src={logo.src} />
</section>

<style>
    section {
        background-image: url("../images/imageSection.jpeg");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
    }
</style>
