---

---

<section>
    <div>
        <h2>Porções Quentes</h2>
        <div class="menu-content">
            <p>anel de cebola</p>
            <p>1</p>
        </div>
        <div class="menu-content">
            <p>bolinho de mandioca tradicional</p>
            <p>2</p>
        </div>
        <div class="menu-content">
            <p>bolinho de mandioca com bacon</p>
            <p>3</p>
        </div>
        <div class="menu-content">
            <p>bolinho de mandioca com carne seca</p>
            <p>4</p>
        </div>
        <div class="menu-content">
            <p>bolinho de mandioca com costela</p>
            <p>5</p>
        </div>
        <div class="menu-content">
            <p>bolinho de mandioca com queijo</p>
            <p>6</p>
        </div>
        <div class="menu-content">
            <p>crespinho</p>
            <p>7</p>
        </div>
        <div class="menu-content">
            <p>frango a passarinho</p>
            <p>8</p>
        </div>
        <div class="menu-content">
            <p>iscas de tilápia</p>
            <p>9</p>
        </div>
        <div class="menu-content">
            <p>iscas de tilápia com provolone</p>
            <p>10</p>
        </div>
        <div class="menu-content">
            <p>mandioca frita</p>
            <p>11</p>
        </div>
        <div class="menu-content">
            <p>panceta</p>
            <p>12</p>
        </div>
        <div class="menu-content">
            <p>torresmo</p>
            <p>13</p>
        </div>
        <div class="menu-content">
            <p>tulipa</p>
            <p>14</p>
        </div>
    </div>

    <h2>Porções Frias</h2>
    <div class="menu-content">
        <p>amendoin</p>
        <p>1</p>
    </div>
    <div class="menu-content">
        <p>brazuka</p>
        <p>2</p>
    </div>
    <div class="menu-content">
        <p>tábua cabral</p>
        <p>3</p>
    </div>
</section>

<style lang="scss">
    section {
        text-transform: uppercase;

        div {
            padding: 10px;

            h2 {
                margin-left: 5px;
                margin-bottom: 15px;
            }
            p {
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
    .menu-content {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
</style>
